$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$dark-mode: black;

* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: yellow;
    font-size: larger;
    text-align: center;
}
