.moviecarouselContainer {
  margin-top: 15px;
}
.gamecarouselContainer {
  margin-top: 35px;
}
.title {
  font-weight: bold;
  font-size: 15px;
}

.card {
  outline: none !important;
  background: none;
  margin: 0 !important;
  padding: 0 5px 5px 5px !important;
  border: none !important;
  cursor: pointer;
}
.image {
  outline: none !important;
  background: none;
  height: 130px !important;
  cursor: pointer;
}

.movieCarousel {
  padding: 0 110px;
}

.movieheaderactive {
  border-bottom: 3px solid red;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}
.gameheaderactive {
  border-bottom: 3px solid #ffffff;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  color: red;
  font-size: 13px;
  font-weight: bold;
}
.headerinactive {
  border-bottom: 3px solid transparent;
  cursor: pointer;
  color: rgb(180, 177, 177) !important;
  margin-left: 0;
  margin-right: 0;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.5;
}

.headerinactive:hover {
  color: #ffffff !important;
}

.tabcontainer {
  padding: 5px 40px 10px 40px;
  font-size: 0.8rem;
  font-weight: bold;
}
